/*____________ info ____________*/
.dokuwiki .wrap_info { background-color: #d1d7df; }
.dokuwiki .wrap__dark.wrap_info { background-color: #343e4a; }
.dokuwiki div.wrap_info { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/48/info.png); }
.dokuwiki span.wrap_info { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/16/info.png); }

/*____________ important ____________*/
.dokuwiki .wrap_important { background-color: #ffd39f; }
.dokuwiki .wrap__dark.wrap_important { background-color: #6c3b00; }
.dokuwiki div.wrap_important { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/48/important.png); }
.dokuwiki span.wrap_important { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/16/important.png); }

/*____________ alert ____________*/
.dokuwiki .wrap_alert { background-color: #ffbcaf; }
.dokuwiki .wrap__dark.wrap_alert { background-color: #6b1100; }
.dokuwiki div.wrap_alert { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/48/alert.png); }
.dokuwiki span.wrap_alert { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/16/alert.png); }

/*____________ tip ____________*/
.dokuwiki .wrap_tip { background-color: #fff79f; }
.dokuwiki .wrap__dark.wrap_tip { background-color: #4a4400; }
.dokuwiki div.wrap_tip { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/48/tip.png); }
.dokuwiki span.wrap_tip { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/16/tip.png); }

/*____________ help ____________*/
.dokuwiki .wrap_help { background-color: #dcc2ef; }
.dokuwiki .wrap__dark.wrap_help { background-color: #3c1757; }
.dokuwiki div.wrap_help { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/48/help.png); }
.dokuwiki span.wrap_help { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/16/help.png); }

/*____________ todo ____________*/
.dokuwiki .wrap_todo { background-color: #c2efdd; }
.dokuwiki .wrap__dark.wrap_todo { background-color: #17573e; }
.dokuwiki div.wrap_todo { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/48/todo.png); }
.dokuwiki span.wrap_todo { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/16/todo.png); }

/*____________ download ____________*/
.dokuwiki .wrap_download { background-color: #d6efc2; }
.dokuwiki .wrap__dark.wrap_download { background-color: #345717; }
.dokuwiki div.wrap_download { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/48/download.png); }
.dokuwiki span.wrap_download { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/16/download.png); }
.dokuwiki div.wrap_info,
.dokuwiki div.wrap_important,
.dokuwiki div.wrap_alert,
.dokuwiki div.wrap_tip,
.dokuwiki div.wrap_help,
.dokuwiki div.wrap_todo,
.dokuwiki div.wrap_download {
    padding: 1em 1em 0.5em 70px;
    margin-bottom: 1.5em;
    min-height: 68px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    color: inherit;
    overflow: hidden;
}
.dokuwiki .wrap_box {
    background: #eee;
    color: #333;
}

.dokuwiki div.wrap_box,
.dokuwiki div.wrap_danger,
.dokuwiki div.wrap_warning,
.dokuwiki div.wrap_caution,
.dokuwiki div.wrap_notice,
.dokuwiki div.wrap_safety {
    padding: 1em 1em .5em;
    margin-bottom: 1.5em;
    overflow: hidden;
}
.dokuwiki .wrap_round {
    border-radius: 1.4em;
}

.dokuwiki .wrap_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dokuwiki .plugin_wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.dokuwiki .wrap_tip {
    background-color: #fff79f;
}

.dokuwiki .wrap_pagebreak {
    break-after: page; /* CSS 3 */
    page-break-after: always; /* CSS 2.1 */
}
.dokuwiki .wrap_nopagebreak {
    break-inside: avoid; /* CSS 3 */
    page-break-inside: avoid; /* CSS 2.1 */
}
.dokuwiki .wrap_noprint {
    display: none;
}

.remark {
    white-space: pre-wrap;
}

.code {background-color: #f5f5f5; border: 1px solid #ccc; border-radius: 4px;}
/* java overrides */
pre .co2 { color: #a1a100; }
pre .kw3 { color: #aaaadd; font-weight: bold; }

/* java5 overrides */
pre .kw10 { color: #aaaadd; font-weight: bold; }
pre .kw100 { color: #aaaadd; font-weight: bold; }
pre .kw101 { color: #aaaadd; font-weight: bold; }
pre .kw102 { color: #aaaadd; font-weight: bold; }
pre .kw103 { color: #aaaadd; font-weight: bold; }
pre .kw104 { color: #aaaadd; font-weight: bold; }
pre .kw105 { color: #aaaadd; font-weight: bold; }
pre .kw106 { color: #aaaadd; font-weight: bold; }
pre .kw107 { color: #aaaadd; font-weight: bold; }
pre .kw108 { color: #aaaadd; font-weight: bold; }
pre .kw109 { color: #aaaadd; font-weight: bold; }
pre .kw11 { color: #aaaadd; font-weight: bold; }
pre .kw110 { color: #aaaadd; font-weight: bold; }
pre .kw111 { color: #aaaadd; font-weight: bold; }
pre .kw112 { color: #aaaadd; font-weight: bold; }
pre .kw113 { color: #aaaadd; font-weight: bold; }
pre .kw114 { color: #aaaadd; font-weight: bold; }
pre .kw115 { color: #aaaadd; font-weight: bold; }
pre .kw116 { color: #aaaadd; font-weight: bold; }
pre .kw117 { color: #aaaadd; font-weight: bold; }
pre .kw118 { color: #aaaadd; font-weight: bold; }
pre .kw119 { color: #aaaadd; font-weight: bold; }
pre .kw12 { color: #aaaadd; font-weight: bold; }
pre .kw120 { color: #aaaadd; font-weight: bold; }
pre .kw121 { color: #aaaadd; font-weight: bold; }
pre .kw122 { color: #aaaadd; font-weight: bold; }
pre .kw123 { color: #aaaadd; font-weight: bold; }
pre .kw124 { color: #aaaadd; font-weight: bold; }
pre .kw125 { color: #aaaadd; font-weight: bold; }
pre .kw126 { color: #aaaadd; font-weight: bold; }
pre .kw127 { color: #aaaadd; font-weight: bold; }
pre .kw128 { color: #aaaadd; font-weight: bold; }
pre .kw129 { color: #aaaadd; font-weight: bold; }
pre .kw13 { color: #aaaadd; font-weight: bold; }
pre .kw130 { color: #aaaadd; font-weight: bold; }
pre .kw131 { color: #aaaadd; font-weight: bold; }
pre .kw132 { color: #aaaadd; font-weight: bold; }
pre .kw133 { color: #aaaadd; font-weight: bold; }
pre .kw134 { color: #aaaadd; font-weight: bold; }
pre .kw135 { color: #aaaadd; font-weight: bold; }
pre .kw136 { color: #aaaadd; font-weight: bold; }
pre .kw137 { color: #aaaadd; font-weight: bold; }
pre .kw138 { color: #aaaadd; font-weight: bold; }
pre .kw139 { color: #aaaadd; font-weight: bold; }
pre .kw14 { color: #aaaadd; font-weight: bold; }
pre .kw140 { color: #aaaadd; font-weight: bold; }
pre .kw141 { color: #aaaadd; font-weight: bold; }
pre .kw142 { color: #aaaadd; font-weight: bold; }
pre .kw143 { color: #aaaadd; font-weight: bold; }
pre .kw144 { color: #aaaadd; font-weight: bold; }
pre .kw145 { color: #aaaadd; font-weight: bold; }
pre .kw146 { color: #aaaadd; font-weight: bold; }
pre .kw147 { color: #aaaadd; font-weight: bold; }
pre .kw148 { color: #aaaadd; font-weight: bold; }
pre .kw149 { color: #aaaadd; font-weight: bold; }
pre .kw15 { color: #aaaadd; font-weight: bold; }
pre .kw150 { color: #aaaadd; font-weight: bold; }
pre .kw151 { color: #aaaadd; font-weight: bold; }
pre .kw152 { color: #aaaadd; font-weight: bold; }
pre .kw153 { color: #aaaadd; font-weight: bold; }
pre .kw154 { color: #aaaadd; font-weight: bold; }
pre .kw155 { color: #aaaadd; font-weight: bold; }
pre .kw156 { color: #aaaadd; font-weight: bold; }
pre .kw157 { color: #aaaadd; font-weight: bold; }
pre .kw158 { color: #aaaadd; font-weight: bold; }
pre .kw159 { color: #aaaadd; font-weight: bold; }
pre .kw16 { color: #aaaadd; font-weight: bold; }
pre .kw160 { color: #aaaadd; font-weight: bold; }
pre .kw161 { color: #aaaadd; font-weight: bold; }
pre .kw162 { color: #aaaadd; font-weight: bold; }
pre .kw163 { color: #aaaadd; font-weight: bold; }
pre .kw164 { color: #aaaadd; font-weight: bold; }
pre .kw165 { color: #aaaadd; font-weight: bold; }
pre .kw166 { color: #aaaadd; font-weight: bold; }
pre .kw17 { color: #aaaadd; font-weight: bold; }
pre .kw18 { color: #aaaadd; font-weight: bold; }
pre .kw19 { color: #aaaadd; font-weight: bold; }
pre .kw20 { color: #aaaadd; font-weight: bold; }
pre .kw21 { color: #aaaadd; font-weight: bold; }
pre .kw22 { color: #aaaadd; font-weight: bold; }
pre .kw23 { color: #aaaadd; font-weight: bold; }
pre .kw24 { color: #aaaadd; font-weight: bold; }
pre .kw25 { color: #aaaadd; font-weight: bold; }
pre .kw26 { color: #aaaadd; font-weight: bold; }
pre .kw27 { color: #aaaadd; font-weight: bold; }
pre .kw28 { color: #aaaadd; font-weight: bold; }
pre .kw29 { color: #aaaadd; font-weight: bold; }
pre .kw3 { color: #993333; }
pre .kw30 { color: #aaaadd; font-weight: bold; }
pre .kw31 { color: #aaaadd; font-weight: bold; }
pre .kw32 { color: #aaaadd; font-weight: bold; }
pre .kw33 { color: #aaaadd; font-weight: bold; }
pre .kw34 { color: #aaaadd; font-weight: bold; }
pre .kw35 { color: #aaaadd; font-weight: bold; }
pre .kw36 { color: #aaaadd; font-weight: bold; }
pre .kw37 { color: #aaaadd; font-weight: bold; }
pre .kw38 { color: #aaaadd; font-weight: bold; }
pre .kw39 { color: #aaaadd; font-weight: bold; }
pre .kw4 { color: #b13366; }
pre .kw40 { color: #aaaadd; font-weight: bold; }
pre .kw41 { color: #aaaadd; font-weight: bold; }
pre .kw42 { color: #aaaadd; font-weight: bold; }
pre .kw43 { color: #aaaadd; font-weight: bold; }
pre .kw44 { color: #aaaadd; font-weight: bold; }
pre .kw45 { color: #aaaadd; font-weight: bold; }
pre .kw46 { color: #aaaadd; font-weight: bold; }
pre .kw47 { color: #aaaadd; font-weight: bold; }
pre .kw48 { color: #aaaadd; font-weight: bold; }
pre .kw49 { color: #aaaadd; font-weight: bold; }
pre .kw5 { color: #aaaadd; font-weight: bold; }
pre .kw50 { color: #aaaadd; font-weight: bold; }
pre .kw51 { color: #aaaadd; font-weight: bold; }
pre .kw52 { color: #aaaadd; font-weight: bold; }
pre .kw53 { color: #aaaadd; font-weight: bold; }
pre .kw54 { color: #aaaadd; font-weight: bold; }
pre .kw55 { color: #aaaadd; font-weight: bold; }
pre .kw56 { color: #aaaadd; font-weight: bold; }
pre .kw57 { color: #aaaadd; font-weight: bold; }
pre .kw58 { color: #aaaadd; font-weight: bold; }
pre .kw59 { color: #aaaadd; font-weight: bold; }
pre .kw6 { color: #aaaadd; font-weight: bold; }
pre .kw60 { color: #aaaadd; font-weight: bold; }
pre .kw61 { color: #aaaadd; font-weight: bold; }
pre .kw62 { color: #aaaadd; font-weight: bold; }
pre .kw63 { color: #aaaadd; font-weight: bold; }
pre .kw64 { color: #aaaadd; font-weight: bold; }
pre .kw65 { color: #aaaadd; font-weight: bold; }
pre .kw66 { color: #aaaadd; font-weight: bold; }
pre .kw67 { color: #aaaadd; font-weight: bold; }
pre .kw68 { color: #aaaadd; font-weight: bold; }
pre .kw69 { color: #aaaadd; font-weight: bold; }
pre .kw7 { color: #aaaadd; font-weight: bold; }
pre .kw70 { color: #aaaadd; font-weight: bold; }
pre .kw71 { color: #aaaadd; font-weight: bold; }
pre .kw72 { color: #aaaadd; font-weight: bold; }
pre .kw73 { color: #aaaadd; font-weight: bold; }
pre .kw74 { color: #aaaadd; font-weight: bold; }
pre .kw75 { color: #aaaadd; font-weight: bold; }
pre .kw76 { color: #aaaadd; font-weight: bold; }
pre .kw77 { color: #aaaadd; font-weight: bold; }
pre .kw78 { color: #aaaadd; font-weight: bold; }
pre .kw79 { color: #aaaadd; font-weight: bold; }
pre .kw8 { color: #aaaadd; font-weight: bold; }
pre .kw80 { color: #aaaadd; font-weight: bold; }
pre .kw81 { color: #aaaadd; font-weight: bold; }
pre .kw82 { color: #aaaadd; font-weight: bold; }
pre .kw83 { color: #aaaadd; font-weight: bold; }
pre .kw84 { color: #aaaadd; font-weight: bold; }
pre .kw85 { color: #aaaadd; font-weight: bold; }
pre .kw86 { color: #aaaadd; font-weight: bold; }
pre .kw87 { color: #aaaadd; font-weight: bold; }
pre .kw88 { color: #aaaadd; font-weight: bold; }
pre .kw89 { color: #aaaadd; font-weight: bold; }
pre .kw9 { color: #aaaadd; font-weight: bold; }
pre .kw90 { color: #aaaadd; font-weight: bold; }
pre .kw91 { color: #aaaadd; font-weight: bold; }
pre .kw92 { color: #aaaadd; font-weight: bold; }
pre .kw93 { color: #aaaadd; font-weight: bold; }
pre .kw94 { color: #aaaadd; font-weight: bold; }
pre .kw95 { color: #aaaadd; font-weight: bold; }
pre .kw96 { color: #aaaadd; font-weight: bold; }
pre .kw97 { color: #aaaadd; font-weight: bold; }
pre .kw98 { color: #aaaadd; font-weight: bold; }
pre .kw99 { color: #aaaadd; font-weight: bold; }

/* javascript overrides */
pre .co1 { color: #009900; font-style: italic; }
pre .coMULTI { color: #009900; font-style: italic; }
pre .kw1 { color: #000066; font-weight: bold; }
pre .kw2 { color: #003366; font-weight: bold; }
pre .nu0 { color: #CC0000; }
pre .re0 { color: #0066FF; }
pre .st0 { color: #3366CC; }

/* python overrides */
pre .br0 { color: black; }
pre .kw1 { color: #ff7700;font-weight:bold; }
pre .kw2 { color: #008000; }
pre .kw3 { color: #dc143c; }
pre .kw4 { color: #0000cd; }
pre .me1 { color: black; }
pre .nu0 { color: #ff4500; }
pre .st0 { color: #483d8b; }