/*____________ info ____________*/
.dokuwiki .wrap_info { background-color: #d1d7df; }
.dokuwiki .wrap__dark.wrap_info { background-color: #343e4a; }
.dokuwiki div.wrap_info { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/48/info.png); }
.dokuwiki span.wrap_info { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/16/info.png); }

/*____________ important ____________*/
.dokuwiki .wrap_important { background-color: #ffd39f; }
.dokuwiki .wrap__dark.wrap_important { background-color: #6c3b00; }
.dokuwiki div.wrap_important { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/48/important.png); }
.dokuwiki span.wrap_important { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/16/important.png); }

/*____________ alert ____________*/
.dokuwiki .wrap_alert { background-color: #ffbcaf; }
.dokuwiki .wrap__dark.wrap_alert { background-color: #6b1100; }
.dokuwiki div.wrap_alert { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/48/alert.png); }
.dokuwiki span.wrap_alert { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/16/alert.png); }

/*____________ tip ____________*/
.dokuwiki .wrap_tip { background-color: #fff79f; }
.dokuwiki .wrap__dark.wrap_tip { background-color: #4a4400; }
.dokuwiki div.wrap_tip { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/48/tip.png); }
.dokuwiki span.wrap_tip { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/16/tip.png); }

/*____________ help ____________*/
.dokuwiki .wrap_help { background-color: #dcc2ef; }
.dokuwiki .wrap__dark.wrap_help { background-color: #3c1757; }
.dokuwiki div.wrap_help { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/48/help.png); }
.dokuwiki span.wrap_help { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/16/help.png); }

/*____________ todo ____________*/
.dokuwiki .wrap_todo { background-color: #c2efdd; }
.dokuwiki .wrap__dark.wrap_todo { background-color: #17573e; }
.dokuwiki div.wrap_todo { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/48/todo.png); }
.dokuwiki span.wrap_todo { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/16/todo.png); }

/*____________ download ____________*/
.dokuwiki .wrap_download { background-color: #d6efc2; }
.dokuwiki .wrap__dark.wrap_download { background-color: #345717; }
.dokuwiki div.wrap_download { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/48/download.png); }
.dokuwiki span.wrap_download { background-image: url(https://it.bzz.ch/wikiV2/lib/plugins/wrap/images/note/16/download.png); }
.dokuwiki div.wrap_info,
.dokuwiki div.wrap_important,
.dokuwiki div.wrap_alert,
.dokuwiki div.wrap_tip,
.dokuwiki div.wrap_help,
.dokuwiki div.wrap_todo,
.dokuwiki div.wrap_download {
    padding: 1em 1em 0.5em 70px;
    margin-bottom: 1.5em;
    min-height: 68px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    color: inherit;
    overflow: hidden;
}
.dokuwiki .wrap_box {
    background: #eee;
    color: #333;
}

.dokuwiki div.wrap_box,
.dokuwiki div.wrap_danger,
.dokuwiki div.wrap_warning,
.dokuwiki div.wrap_caution,
.dokuwiki div.wrap_notice,
.dokuwiki div.wrap_safety {
    padding: 1em 1em .5em;
    margin-bottom: 1.5em;
    overflow: hidden;
}
.dokuwiki .wrap_round {
    border-radius: 1.4em;
}

.dokuwiki .wrap_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dokuwiki .plugin_wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.dokuwiki .wrap_tip {
    background-color: #fff79f;
}

.dokuwiki .wrap_pagebreak {
    break-after: page; /* CSS 3 */
    page-break-after: always; /* CSS 2.1 */
}
.dokuwiki .wrap_nopagebreak {
    break-inside: avoid; /* CSS 3 */
    page-break-inside: avoid; /* CSS 2.1 */
}
.dokuwiki .wrap_noprint {
    display: none;
}

.dokuwiki a.urlextern, .dokuwiki a.windows, .dokuwiki a.mail, .dokuwiki a.mediafile, .dokuwiki a.interwiki {
    background-repeat: no-repeat;
    background-position: 0 center;
    padding: 0 0 0 18px;
}

a.iw_wp, a.iw_wpde, a.iw_wpes, a.iw_wpfr, a.iw_wpjp, a.iw_wpmeta, a.iw_wppl {
    background-image: url('https://it.bzz.ch/wikiV2/lib/tpl/bootstrap3/iconify.php?icon=mdi-wikipedia.svg');
}

.remark {
    white-space: pre-wrap;
}

.code {background-color: #f5f5f5; border: 1px solid #ccc; border-radius: 4px;}
/* java overrides */
pre.code .co2 { color: #a1a100; }
pre.code .kw3 { color: #aaaadd; font-weight: bold; }

/* java5 overrides */
pre.code .kw10 { color: #aaaadd; font-weight: bold; }
pre.code .kw100 { color: #aaaadd; font-weight: bold; }
pre.code .kw101 { color: #aaaadd; font-weight: bold; }
pre.code .kw102 { color: #aaaadd; font-weight: bold; }
pre.code .kw103 { color: #aaaadd; font-weight: bold; }
pre.code .kw104 { color: #aaaadd; font-weight: bold; }
pre.code .kw105 { color: #aaaadd; font-weight: bold; }
pre.code .kw106 { color: #aaaadd; font-weight: bold; }
pre.code .kw107 { color: #aaaadd; font-weight: bold; }
pre.code .kw108 { color: #aaaadd; font-weight: bold; }
pre.code .kw109 { color: #aaaadd; font-weight: bold; }
pre.code .kw11 { color: #aaaadd; font-weight: bold; }
pre.code .kw110 { color: #aaaadd; font-weight: bold; }
pre.code .kw111 { color: #aaaadd; font-weight: bold; }
pre.code .kw112 { color: #aaaadd; font-weight: bold; }
pre.code .kw113 { color: #aaaadd; font-weight: bold; }
pre.code .kw114 { color: #aaaadd; font-weight: bold; }
pre.code .kw115 { color: #aaaadd; font-weight: bold; }
pre.code .kw116 { color: #aaaadd; font-weight: bold; }
pre.code .kw117 { color: #aaaadd; font-weight: bold; }
pre.code .kw118 { color: #aaaadd; font-weight: bold; }
pre.code .kw119 { color: #aaaadd; font-weight: bold; }
pre.code .kw12 { color: #aaaadd; font-weight: bold; }
pre.code .kw120 { color: #aaaadd; font-weight: bold; }
pre.code .kw121 { color: #aaaadd; font-weight: bold; }
pre.code .kw122 { color: #aaaadd; font-weight: bold; }
pre.code .kw123 { color: #aaaadd; font-weight: bold; }
pre.code .kw124 { color: #aaaadd; font-weight: bold; }
pre.code .kw125 { color: #aaaadd; font-weight: bold; }
pre.code .kw126 { color: #aaaadd; font-weight: bold; }
pre.code .kw127 { color: #aaaadd; font-weight: bold; }
pre.code .kw128 { color: #aaaadd; font-weight: bold; }
pre.code .kw129 { color: #aaaadd; font-weight: bold; }
pre.code .kw13 { color: #aaaadd; font-weight: bold; }
pre.code .kw130 { color: #aaaadd; font-weight: bold; }
pre.code .kw131 { color: #aaaadd; font-weight: bold; }
pre.code .kw132 { color: #aaaadd; font-weight: bold; }
pre.code .kw133 { color: #aaaadd; font-weight: bold; }
pre.code .kw134 { color: #aaaadd; font-weight: bold; }
pre.code .kw135 { color: #aaaadd; font-weight: bold; }
pre.code .kw136 { color: #aaaadd; font-weight: bold; }
pre.code .kw137 { color: #aaaadd; font-weight: bold; }
pre.code .kw138 { color: #aaaadd; font-weight: bold; }
pre.code .kw139 { color: #aaaadd; font-weight: bold; }
pre.code .kw14 { color: #aaaadd; font-weight: bold; }
pre.code .kw140 { color: #aaaadd; font-weight: bold; }
pre.code .kw141 { color: #aaaadd; font-weight: bold; }
pre.code .kw142 { color: #aaaadd; font-weight: bold; }
pre.code .kw143 { color: #aaaadd; font-weight: bold; }
pre.code .kw144 { color: #aaaadd; font-weight: bold; }
pre.code .kw145 { color: #aaaadd; font-weight: bold; }
pre.code .kw146 { color: #aaaadd; font-weight: bold; }
pre.code .kw147 { color: #aaaadd; font-weight: bold; }
pre.code .kw148 { color: #aaaadd; font-weight: bold; }
pre.code .kw149 { color: #aaaadd; font-weight: bold; }
pre.code .kw15 { color: #aaaadd; font-weight: bold; }
pre.code .kw150 { color: #aaaadd; font-weight: bold; }
pre.code .kw151 { color: #aaaadd; font-weight: bold; }
pre.code .kw152 { color: #aaaadd; font-weight: bold; }
pre.code .kw153 { color: #aaaadd; font-weight: bold; }
pre.code .kw154 { color: #aaaadd; font-weight: bold; }
pre.code .kw155 { color: #aaaadd; font-weight: bold; }
pre.code .kw156 { color: #aaaadd; font-weight: bold; }
pre.code .kw157 { color: #aaaadd; font-weight: bold; }
pre.code .kw158 { color: #aaaadd; font-weight: bold; }
pre.code .kw159 { color: #aaaadd; font-weight: bold; }
pre.code .kw16 { color: #aaaadd; font-weight: bold; }
pre.code .kw160 { color: #aaaadd; font-weight: bold; }
pre.code .kw161 { color: #aaaadd; font-weight: bold; }
pre.code .kw162 { color: #aaaadd; font-weight: bold; }
pre.code .kw163 { color: #aaaadd; font-weight: bold; }
pre.code .kw164 { color: #aaaadd; font-weight: bold; }
pre.code .kw165 { color: #aaaadd; font-weight: bold; }
pre.code .kw166 { color: #aaaadd; font-weight: bold; }
pre.code .kw17 { color: #aaaadd; font-weight: bold; }
pre.code .kw18 { color: #aaaadd; font-weight: bold; }
pre.code .kw19 { color: #aaaadd; font-weight: bold; }
pre.code .kw20 { color: #aaaadd; font-weight: bold; }
pre.code .kw21 { color: #aaaadd; font-weight: bold; }
pre.code .kw22 { color: #aaaadd; font-weight: bold; }
pre.code .kw23 { color: #aaaadd; font-weight: bold; }
pre.code .kw24 { color: #aaaadd; font-weight: bold; }
pre.code .kw25 { color: #aaaadd; font-weight: bold; }
pre.code .kw26 { color: #aaaadd; font-weight: bold; }
pre.code .kw27 { color: #aaaadd; font-weight: bold; }
pre.code .kw28 { color: #aaaadd; font-weight: bold; }
pre.code .kw29 { color: #aaaadd; font-weight: bold; }
pre.code .kw3 { color: #993333; }
pre.code .kw30 { color: #aaaadd; font-weight: bold; }
pre.code .kw31 { color: #aaaadd; font-weight: bold; }
pre.code .kw32 { color: #aaaadd; font-weight: bold; }
pre.code .kw33 { color: #aaaadd; font-weight: bold; }
pre.code .kw34 { color: #aaaadd; font-weight: bold; }
pre.code .kw35 { color: #aaaadd; font-weight: bold; }
pre.code .kw36 { color: #aaaadd; font-weight: bold; }
pre.code .kw37 { color: #aaaadd; font-weight: bold; }
pre.code .kw38 { color: #aaaadd; font-weight: bold; }
pre.code .kw39 { color: #aaaadd; font-weight: bold; }
pre.code .kw4 { color: #b13366; }
pre.code .kw40 { color: #aaaadd; font-weight: bold; }
pre.code .kw41 { color: #aaaadd; font-weight: bold; }
pre.code .kw42 { color: #aaaadd; font-weight: bold; }
pre.code .kw43 { color: #aaaadd; font-weight: bold; }
pre.code .kw44 { color: #aaaadd; font-weight: bold; }
pre.code .kw45 { color: #aaaadd; font-weight: bold; }
pre.code .kw46 { color: #aaaadd; font-weight: bold; }
pre.code .kw47 { color: #aaaadd; font-weight: bold; }
pre.code .kw48 { color: #aaaadd; font-weight: bold; }
pre.code .kw49 { color: #aaaadd; font-weight: bold; }
pre.code .kw5 { color: #aaaadd; font-weight: bold; }
pre.code .kw50 { color: #aaaadd; font-weight: bold; }
pre.code .kw51 { color: #aaaadd; font-weight: bold; }
pre.code .kw52 { color: #aaaadd; font-weight: bold; }
pre.code .kw53 { color: #aaaadd; font-weight: bold; }
pre.code .kw54 { color: #aaaadd; font-weight: bold; }
pre.code .kw55 { color: #aaaadd; font-weight: bold; }
pre.code .kw56 { color: #aaaadd; font-weight: bold; }
pre.code .kw57 { color: #aaaadd; font-weight: bold; }
pre.code .kw58 { color: #aaaadd; font-weight: bold; }
pre.code .kw59 { color: #aaaadd; font-weight: bold; }
pre.code .kw6 { color: #aaaadd; font-weight: bold; }
pre.code .kw60 { color: #aaaadd; font-weight: bold; }
pre.code .kw61 { color: #aaaadd; font-weight: bold; }
pre.code .kw62 { color: #aaaadd; font-weight: bold; }
pre.code .kw63 { color: #aaaadd; font-weight: bold; }
pre.code .kw64 { color: #aaaadd; font-weight: bold; }
pre.code .kw65 { color: #aaaadd; font-weight: bold; }
pre.code .kw66 { color: #aaaadd; font-weight: bold; }
pre.code .kw67 { color: #aaaadd; font-weight: bold; }
pre.code .kw68 { color: #aaaadd; font-weight: bold; }
pre.code .kw69 { color: #aaaadd; font-weight: bold; }
pre.code .kw7 { color: #aaaadd; font-weight: bold; }
pre.code .kw70 { color: #aaaadd; font-weight: bold; }
pre.code .kw71 { color: #aaaadd; font-weight: bold; }
pre.code .kw72 { color: #aaaadd; font-weight: bold; }
pre.code .kw73 { color: #aaaadd; font-weight: bold; }
pre.code .kw74 { color: #aaaadd; font-weight: bold; }
pre.code .kw75 { color: #aaaadd; font-weight: bold; }
pre.code .kw76 { color: #aaaadd; font-weight: bold; }
pre.code .kw77 { color: #aaaadd; font-weight: bold; }
pre.code .kw78 { color: #aaaadd; font-weight: bold; }
pre.code .kw79 { color: #aaaadd; font-weight: bold; }
pre.code .kw8 { color: #aaaadd; font-weight: bold; }
pre.code .kw80 { color: #aaaadd; font-weight: bold; }
pre.code .kw81 { color: #aaaadd; font-weight: bold; }
pre.code .kw82 { color: #aaaadd; font-weight: bold; }
pre.code .kw83 { color: #aaaadd; font-weight: bold; }
pre.code .kw84 { color: #aaaadd; font-weight: bold; }
pre.code .kw85 { color: #aaaadd; font-weight: bold; }
pre.code .kw86 { color: #aaaadd; font-weight: bold; }
pre.code .kw87 { color: #aaaadd; font-weight: bold; }
pre.code .kw88 { color: #aaaadd; font-weight: bold; }
pre.code .kw89 { color: #aaaadd; font-weight: bold; }
pre.code .kw9 { color: #aaaadd; font-weight: bold; }
pre.code .kw90 { color: #aaaadd; font-weight: bold; }
pre.code .kw91 { color: #aaaadd; font-weight: bold; }
pre.code .kw92 { color: #aaaadd; font-weight: bold; }
pre.code .kw93 { color: #aaaadd; font-weight: bold; }
pre.code .kw94 { color: #aaaadd; font-weight: bold; }
pre.code .kw95 { color: #aaaadd; font-weight: bold; }
pre.code .kw96 { color: #aaaadd; font-weight: bold; }
pre.code .kw97 { color: #aaaadd; font-weight: bold; }
pre.code .kw98 { color: #aaaadd; font-weight: bold; }
pre.code .kw99 { color: #aaaadd; font-weight: bold; }

/* javascript overrides */
pre.code .co1 { color: #009900; font-style: italic; }
pre.code .coMULTI { color: #009900; font-style: italic; }
pre.code .kw1 { color: #000066; font-weight: bold; }
pre.code .kw2 { color: #003366; font-weight: bold; }
pre.code .nu0 { color: #CC0000; }
pre.code .re0 { color: #0066FF; }
pre.code .st0 { color: #3366CC; }

/* python overrides */
pre.code .br0 { color: black; }
pre.code .kw1 { color: #ff7700;font-weight:bold; }
pre.code .kw2 { color: #008000; }
pre.code .kw3 { color: #dc143c; }
pre.code .kw4 { color: #0000cd; }
pre.code .me1 { color: black; }
pre.code .nu0 { color: #ff4500; }
pre.code .st0 { color: #483d8b; }